:root {
  --bg: #e2dcee;
  --card: #d2ccdc;
  --accent: #950000;
  --text: #202020;
  --visited: #808080;
}

@font-face {
  font-family: "poppins";
  src: url("src/assets/fonts/POPPINS-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "axis";
  src: url("src/assets/fonts/AXIS.OTF");
  font-weight: normal;
}

body {
  background-color: var(--bg);
  background-image: url("src/assets/svg/bg.svg");
  background-size: 100vw;
  background-repeat: repeat-y;
  background-position: center;
  background-attachment: fixed;
}

p, a, li {
  color: var(--text);
  font-family: "poppins";
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

a { text-decoration: none; }
a:hover { color: var(--accent); }
a:visited { color: var(--visited); }

h1, h2, h3, h4, h5, h6 {
  font-family: "axis";
  font-weight: normal;
  color: var(--accent);
}

h1 { font-size: 4rem; }

h2 {
  font-size: 3rem;
  line-height: 3.6rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 2rem;
  width: 100vw;
  margin: 0 0 70px 0;
}

nav { margin: 20px 0 0 30px; }
nav p, a {
  font-size: 2rem;
  color: #202020;
  margin: 0 20px 0 0;
}

#logo {
  height: 50px;
  margin: 10px 30px 0 0;
}

main {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#hero {
  display: flex;
  flex-direction: row;
  margin: 0 40px;
}
#hero p, h1 {
  margin: 20px 20px 0 100px;
}
#hero p {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: left;
}
#hero-graphics { display: flex; }
#hero-graphics img {
  position: absolute;
  height: 370px;
  z-index: 20;
}

#hero-bg {
  margin: 10px 10px 10px 30px;
  height: 350px;
  width: 350px;
  background-color: var(--accent);
  position: relative;
  border: none;
  border-radius: 40px;
  z-index: 10;
}

#main-card {
  background-color: var(--card);
  border: none;
  border-radius: 40px;
  margin: 40px 40px;
  padding: 5px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 30px #00000030;
}

#main-card p { text-align: center; }

#main-card-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 10px 0;
}

#main-card-img-container img {
  display: block;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
  border: none;
  margin: 20px;
}

#content { margin: 0 60px; }

#content-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#content-1 img {
  width: 280px;
  border-radius: 40px;
  border: none;
  margin: 20px 0 0 50px;
}
#content-1 p { text-align: left; }

#content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content-2 h2, p { text-align: center; }
#content-2 img {
  width: 700px;
  height: 200px;
  object-fit: cover;
  border-radius: 40px;
  border: none;
  margin: 20px 0;
}
#content-2-sub p, li { text-align: left; }

#content-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#content-3 p { text-align: left; }
#content-3 img {
  width: 280px;
  height: 450px;
  object-fit: cover;
  border-radius: 40px;
  border: none;
  margin: 20px 0 0 50px;
}

details {
  border-radius: 20px;
  border: none;
  background-color: var(--accent);
  padding: 10px 40px;
  margin: 60px 0 20px 0;
}
summary {
  display: box;
  margin: 0 0 10px 0;
}
summary::marker {
  color: var(--bg);
  font-size: 2rem;
  margin: auto 0;
}
summary h3 {
  display: inline;
  color: var(--bg);
  font-size: 1.7rem;
  margin: 30px 0 0 0;
}
details table {
  display: inline-table;
  border-collapse: collapse;
  border-radius: 20px;
  background-color: var(--bg);
  font-family: "poppins";
}
details th, td {
  border: solid 1px var(--accent);
  font-size: 1.3rem;
  padding: 10px 15px;
}
details p, ul, li { 
  color: var(--bg);
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin: 0 10px 5px 0;
}
.illegal-methods td {
  background-color: var(--visited);
}

#content-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#content-4 img {
  width: 700px;
  height: 150px;
  object-position: 0 45%;
  object-fit: cover;
  border-radius: 40px;
  border: none;
  margin: 20px 0;
}

#final-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 60px auto;
}

footer {
  padding:  20px 60px;
  background-color: var(--card);
  border-radius: 40px 40px 0 0;
  box-shadow: 0px -10px 30px #00000030;
  display: flex;
  justify-content: space-between;
}
strong { 
  color: var(--accent); 
  font-size: 1.5rem;
}
footer p, a {
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: left;
}
#made-by p, a { text-align: right; }
#participants {
  display: flex;
  flex-direction: row;
}
#participants p { margin: 0 40px 0 0; }

/* MEDIA QUERY BELOW */

@media screen and (max-width: 800px) {
  header { margin: 0 0 30px 0; }
  p, a, li {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  h1 { font-size: 3rem;}
  h2 { 
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  h3 { font-size: 2rem;}

  nav { margin: 5px 0 0 10px; }
  nav p, a {
    font-size: 1.2rem;
      margin: 0 5px 0 0;
  }
  #logo {
    height: 25px;
    margin: 5px 15px 0 0;
  }

  main { max-width: 420px; }
  
  #hero { 
    margin: 0 15px;
    flex-direction: column;
    align-items: center;
  }
  #hero p, h1 { margin: 15px 0 15px 0;}
  #hero h1 { text-align: center;}
  #hero p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
  } 
  #hero-graphics img {
    position: absolute;
    height: 200px;
    z-index: 20;
  }
  #hero-bg {
    margin: 10px 10px 10px 30px;
    height: 180px;
    width: 180px;
    background-color: var(--accent);
    position: relative;
    border: none;
    border-radius: 20px;
    z-index: 10;
  }
  #main-card {
    margin: 15px 20px;
    border-radius: 20px;
    width: 80vw;
    padding: 4px 20px;
  }
  #main-card h2 { font-size: 1.8rem;}
  #main-card-img-container img {
    height: 75px;
    width: 75px;
    margin: 5px 10px;
  }

  #content { 
    margin: 0 20px; 
    width: 90vw;
  }
  #content h2 { 
    font-size: 1.8rem;
    line-height: 2rem;
  }

  #content-1 { flex-direction: column; }
  #content-1 img {
    border-radius: 20px;
    width: 90vw;
    height: 300px;
    object-fit: cover;
    margin: 20px auto;
  }
  #content-1 p { text-align: center;}
  #content-1 h2 { text-align: center;}

  #content-2 img {
    width: 90vw;
    height: 150px;
    border-radius: 20px;
  }
  #content-2-sub h2 { text-align: center; }

  details { 
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 30px auto 15px auto; 
    align-items: center;
  }
  summary h3 { 
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  details table { 
    /*max-width: 85vw;*/
    margin: 0 auto;
  }
  details p { font-size: 1rem; }
  details th, td { 
    font-size: 0.6rem;
    padding: 5px 5px;
  }

  #content-3 { flex-direction: column; }
  #content-3 p { text-align: center; }
  #content-3 h2 { text-align: center; }
  #content-3 img { 
    margin: 10px 15px; 
    width: 90vw;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
  }

  #content-4 img {
    width: 90vw;
    border-radius: 20px;
  }

  footer { 
    flex-direction: column;
    align-items: center;
    padding: 0 0 50px 0;
  }
  #made-by p, a { 
    text-align: center; 
    font-size: 1rem;
  }
  #participants { flex-direction: column; }
  #participants p { 
    margin: 0 15px;
    text-align: center;
  }
  #contact-info p { text-align: center; }
  strong { text-align: center; }
}

